[submodule "backend"]
	path = backend
	url = https://github.com/EthanCloin/issue-tracker-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/EthanCloin/issue-tracker-frontend.git
